[Desktop Entry]
Name=Welcome to Fedora
Name[ar]=مرحبًا بكم في فيدورا
Name[as]=Fedora লৈ স্বাগতম
Name[bg]=Добре дошли във Fedora
Name[bn_IN]=Fedora তে স্বাগতম
Name[ca]=Benvinguts a Fedora
Name[cs]=Vítejte ve Fedoře
Name[da]=Velkommen til Fedora
Name[de]=Willkommen bei Fedora
Name[el]=Καλώς ήρθατε στο Fedora
Name[en_GB]=Welcome to Fedora
Name[es]=Bienvenido a Fedora
Name[et]=Teretulemast Fedorasse
Name[eu]=Ongi etorri Fedora-ra
Name[fi]=Tervetuloa Fedoraan
Name[fr]=Bienvenue sur Fedora
Name[gl]=Benvida/o a Fedora
Name[gu]=Fedora માં સ્વાગત છે
Name[hi]=फेडोरा में स्वागत है
Name[hr]=Dobrodošli u Fedoru
Name[hu]=Üdvözli a Fedora
Name[ia]=Benvenite a Fedora
Name[id]=Selamat datang di IGOS Nusantara
Name[it]=Benvenuti in Fedora
Name[ja]=Fedora へようこそ
Name[ka]=მოგესალმებათ Fedora
Name[kk]=Fedora-ға қош келдіңіз
Name[kn]=Fedora ಗೆ ಸ್ವಾಗತ
Name[ko]=Fedora에 오신것을 환영합니다 
Name[lt]=Sveiki pradėję naudoti Fedora
Name[ml]=ഫെഡോറയിലേക്കു് സ്വാഗതം
Name[mr]=फेडोरावर स्वागत आहे
Name[nb]=Velkommen til Fedora
Name[nl]=Welkom bij Fedora
Name[or]=Fedora ରେ ଆପଣଙ୍କୁ ସ୍ୱାଗତ
Name[pa]=ਫੇਡੋਰਾ ਵਲੋਂ ਜੀ ਆਇਆਂ ਨੂੰ
Name[pl]=Witaj w Fedorze
Name[pt]=Bem-vindo ao Fedora
Name[pt_BR]=Bem-vindo ao Fedora
Name[ru]=Добро пожаловать в Fedora
Name[sk]=Vitajte v systéme Fedora
Name[sq]=Mirëserdhët në Fedora
Name[sr]=Добродошли у Fedoru
Name[sv]=Välkommen till Fedora
Name[ta]=Fedora க்கு வரவேற்கிறோம்
Name[te]=ఫెడోరాకు స్వాగతం
Name[th]=ยินดีต้อนรับสู่ Fedora
Name[uk]=Вітаємо у Fedora
Name[zh_CN]=欢迎使用 Fedora
Name[zh_TW]=歡迎使用 Fedora
Exec=/usr/share/anaconda/gnome/fedora-welcome
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
